:root {
    --calendar-size-width: 700px;
    --calendar-size-hight: 200px;
}

.calendar {
    width: var(--calendar-size-width);
    height: var(--calendar-size-hight);
    /* background-color: rgb(215, 233, 255); */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.calendar-week,
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day.thisMonth {
    color: black;
}

.day.not-thisMonth {
    color: rgb(175, 175, 175);
}

.day.thisMonth.sunday {
    color: tomato;
}

.day.thisMonth.saturday {
    color: rgb(85, 40, 246);
}

.day.thisMonth.holiday {
    color: tomato;
}

.today-mark::before {
    content: "•";
    font-size: 20px;
    color: #27ae60;
}

.grid-cell-header {
    display: flex;
}

.previous-month {
    transform: scaleX(-1);
}

.button_reset {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    color: inherit;
    cursor: default;
    font: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    border: none; /* 테두리 제거 */
}

.nav_button:hover {
    background-color: rgba(55, 53, 47, 0.08);
}
