:root {
    --calendar-size-width: 700px;
    --calendar-size-hight: 200px;
}

.calendar {
    width: var(--calendar-size-width);
    height: var(--calendar-size-hight);
    /* background-color: rgb(215, 233, 255); */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.calendar-week,
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day.thisMonth {
    color: black;
}

.day.not-thisMonth {
    color: rgb(175, 175, 175);
}

.day.thisMonth.sunday {
    color: tomato;
}

.day.thisMonth.saturday {
    color: rgb(85, 40, 246);
}

.day.thisMonth.holiday {
    color: tomato;
}

.today-mark::before {
    content: "•";
    font-size: 20px;
    color: #27ae60;
}

.grid-cell-header {
    display: flex;
}
